/* Enable rotate-y and 3D transforms */
.rotate-y-180 {
  transform: rotateY(180deg);
}

[transform-style\:preserve-3d] {
  transform-style: preserve-3d;
}

[backface-visibility\:hidden] {
  backface-visibility: hidden;
}